.experience {
    width: 100%;
    height: 100%;
    z-index: 99999999;
    position: absolute;
    transition-duration: 0.5s;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

h2.message-box {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    margin: 0;
    font-size: 25px;
    font-family: 'Ubuntu Mono', monospace;
    transition-duration: 0.3s;
    padding: 0;
    z-index: 9999999999;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
}

h2.message-box.show {
    opacity: 1;
}

h2.message-box > img {
    width: 180px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}